@model FileModel
@{
    ViewData["Title"] = "Result";
}

<form asp-controller="xml" asp-action="XmlResult" class="text-center m-5">
    <div class="m-1">
        <textarea rows="20" readonly class="w-75">@ViewBag.result</textarea>
    </div>
    <div class="m-1">
        <button class="btn-primary" type="submit">Назад</button>
    </div>
</form>